@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Ubuntu:wght@500&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}

li, a, button{
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color:  black;
  text-decoration: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.links{
  list-style: none;

}

.links li{
  display: inline-block;
  padding: 0px 20px; 
}

.links li a{
  transition: all 0.3s ease 0s;
}

.links li a:hover{
  color: cornflowerblue;
}

h1{
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 70px;
}

h2{
  font-family: "Ubuntu", sans-serif;
  font-size: 50px;
}

#pong{
  position: relative;
  left: 90px;
  top: 2px;
}

#flappy{
  position: relative;
  left: 180px;
  top: 2px;
}

.img{
  position: relative;
  left: 80px;
  top: 2px;
}

#mainheading{
  text-align: center;
  color: aqua;
}
